label {
    text-align: right;
    display: inline-block;
    width: 100px;
    padding-right: 5px;
}

.input-label {
    width: 200px;
    text-align: left;
    padding: 5px;
}

.input-text {
    width: 200px;
}

.button {
    width: 100px;
    height: 20px;
    margin: 10px;
}

